body {
    /* hash number means collor (hexadecimal number) */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* apply styles to header */
    background-color:#39a6b2;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    color: #fce138;
}

section {
    background-color: antiquewhite;
    color: rgb(99, 252, 201);
}

footer {
    background-color: #fef140;
    color: rgb(7, 44, 124);
}

