* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:rgb(99, 252, 201);
    color: #fef140;
}

section {
    background-color: antiquewhite;
    color: rgb(99, 252, 201);
}

footer {
    background-color: #fef140;
    color: rgb(7, 44, 124);
}

